---
- name: deployX AutoHeal Deployment using Ansible
  hosts: local
  become: false

  tasks:

    - name: Check Docker installation
      command: docker --version
      register: docker_check
      ignore_errors: yes

    - name: Fail if Docker is not installed
      fail:
        msg: "Docker is not installed. Please install Docker first."
      when: docker_check.rc != 0

    - name: Start Minikube
      command: minikube start
      register: minikube_status

    - name: Set Docker environment to Minikube
      shell: eval $(minikube docker-env)
      args:
        executable: /bin/bash

    - name: Build Docker image for deployX
      command: docker build -t deployx:autoheal -f docker/Dockerfile .
      args:
        chdir: "{{ playbook_dir }}/.."

    - name: Apply Kubernetes manifests
      command: kubectl apply -f k8s/
      args:
        chdir: "{{ playbook_dir }}/.."

    - name: Restart deployx deployment
      command: kubectl rollout restart deployment deployx-deployment
      ignore_errors: yes

    - name: Show running pods
      command: kubectl get pods
