apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployx-autoheal
spec:
  replicas: 2
  selector:
    matchLabels:
      app: deployx
  template:
    metadata:
      labels:
        app: deployx
    spec:
      containers:
      - name: deployx
        image: deployx:autoheal
        ports:
        - containerPort: 80

        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10

        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
