body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #1e293b;
  padding: 40px;
  border-radius: 10px;
}

h1 {
  color: #38bdf8;
  font-size: 3rem;
}
